.latte-theme,
.light-theme {
  --ctp-rosewater: var(--ctp-latte-rosewater);
  --ctp-flamingo: var(--ctp-latte-flamingo);
  --ctp-pink: var(--ctp-latte-pink);
  --ctp-mauve: var(--ctp-latte-mauve);
  --ctp-red: var(--ctp-latte-red);
  --ctp-maroon: var(--ctp-latte-maroon);
  --ctp-peach: var(--ctp-latte-peach);
  --ctp-yellow: var(--ctp-latte-yellow);
  --ctp-green: var(--ctp-latte-green);
  --ctp-teal: var(--ctp-latte-teal);
  --ctp-sky: var(--ctp-latte-sky);
  --ctp-sapphire: var(--ctp-latte-sapphire);
  --ctp-blue: var(--ctp-latte-blue);
  --ctp-lavender: var(--ctp-latte-lavender);
  --ctp-text: var(--ctp-latte-text);
  --ctp-subtext1: var(--ctp-latte-subtext1);
  --ctp-subtext0: var(--ctp-latte-subtext0);
  --ctp-overlay2: var(--ctp-latte-overlay2);
  --ctp-overlay1: var(--ctp-latte-overlay1);
  --ctp-overlay0: var(--ctp-latte-overlay0);
  --ctp-surface2: var(--ctp-latte-surface2);
  --ctp-surface1: var(--ctp-latte-surface1);
  --ctp-surface0: var(--ctp-latte-surface0);
  --ctp-base: var(--ctp-latte-base);
  --ctp-mantle: var(--ctp-latte-mantle);
  --ctp-crust: var(--ctp-latte-crust);
  color-scheme: light;
}

.frappe-theme {
  --ctp-rosewater: var(--ctp-frappe-rosewater);
  --ctp-flamingo: var(--ctp-frappe-flamingo);
  --ctp-pink: var(--ctp-frappe-pink);
  --ctp-mauve: var(--ctp-frappe-mauve);
  --ctp-red: var(--ctp-frappe-red);
  --ctp-maroon: var(--ctp-frappe-maroon);
  --ctp-peach: var(--ctp-frappe-peach);
  --ctp-yellow: var(--ctp-frappe-yellow);
  --ctp-green: var(--ctp-frappe-green);
  --ctp-teal: var(--ctp-frappe-teal);
  --ctp-sky: var(--ctp-frappe-sky);
  --ctp-sapphire: var(--ctp-frappe-sapphire);
  --ctp-blue: var(--ctp-frappe-blue);
  --ctp-lavender: var(--ctp-frappe-lavender);
  --ctp-text: var(--ctp-frappe-text);
  --ctp-subtext1: var(--ctp-frappe-subtext1);
  --ctp-subtext0: var(--ctp-frappe-subtext0);
  --ctp-overlay2: var(--ctp-frappe-overlay2);
  --ctp-overlay1: var(--ctp-frappe-overlay1);
  --ctp-overlay0: var(--ctp-frappe-overlay0);
  --ctp-surface2: var(--ctp-frappe-surface2);
  --ctp-surface1: var(--ctp-frappe-surface1);
  --ctp-surface0: var(--ctp-frappe-surface0);
  --ctp-base: var(--ctp-frappe-base);
  --ctp-mantle: var(--ctp-frappe-mantle);
  --ctp-crust: var(--ctp-frappe-crust);
}

.macchiato-theme,
.dark-theme {
  --ctp-rosewater: var(--ctp-macchiato-rosewater);
  --ctp-flamingo: var(--ctp-macchiato-flamingo);
  --ctp-pink: var(--ctp-macchiato-pink);
  --ctp-mauve: var(--ctp-macchiato-mauve);
  --ctp-red: var(--ctp-macchiato-red);
  --ctp-maroon: var(--ctp-macchiato-maroon);
  --ctp-peach: var(--ctp-macchiato-peach);
  --ctp-yellow: var(--ctp-macchiato-yellow);
  --ctp-green: var(--ctp-macchiato-green);
  --ctp-teal: var(--ctp-macchiato-teal);
  --ctp-sky: var(--ctp-macchiato-sky);
  --ctp-sapphire: var(--ctp-macchiato-sapphire);
  --ctp-blue: var(--ctp-macchiato-blue);
  --ctp-lavender: var(--ctp-macchiato-lavender);
  --ctp-text: var(--ctp-macchiato-text);
  --ctp-subtext1: var(--ctp-macchiato-subtext1);
  --ctp-subtext0: var(--ctp-macchiato-subtext0);
  --ctp-overlay2: var(--ctp-macchiato-overlay2);
  --ctp-overlay1: var(--ctp-macchiato-overlay1);
  --ctp-overlay0: var(--ctp-macchiato-overlay0);
  --ctp-surface2: var(--ctp-macchiato-surface2);
  --ctp-surface1: var(--ctp-macchiato-surface1);
  --ctp-surface0: var(--ctp-macchiato-surface0);
  --ctp-base: var(--ctp-macchiato-base);
  --ctp-mantle: var(--ctp-macchiato-mantle);
  --ctp-crust: var(--ctp-macchiato-crust);
}

.mocha-theme {
  --ctp-rosewater: var(--ctp-mocha-rosewater);
  --ctp-flamingo: var(--ctp-mocha-flamingo);
  --ctp-pink: var(--ctp-mocha-pink);
  --ctp-mauve: var(--ctp-mocha-mauve);
  --ctp-red: var(--ctp-mocha-red);
  --ctp-maroon: var(--ctp-mocha-maroon);
  --ctp-peach: var(--ctp-mocha-peach);
  --ctp-yellow: var(--ctp-mocha-yellow);
  --ctp-green: var(--ctp-mocha-green);
  --ctp-teal: var(--ctp-mocha-teal);
  --ctp-sky: var(--ctp-mocha-sky);
  --ctp-sapphire: var(--ctp-mocha-sapphire);
  --ctp-blue: var(--ctp-mocha-blue);
  --ctp-lavender: var(--ctp-mocha-lavender);
  --ctp-text: var(--ctp-mocha-text);
  --ctp-subtext1: var(--ctp-mocha-subtext1);
  --ctp-subtext0: var(--ctp-mocha-subtext0);
  --ctp-overlay2: var(--ctp-mocha-overlay2);
  --ctp-overlay1: var(--ctp-mocha-overlay1);
  --ctp-overlay0: var(--ctp-mocha-overlay0);
  --ctp-surface2: var(--ctp-mocha-surface2);
  --ctp-surface1: var(--ctp-mocha-surface1);
  --ctp-surface0: var(--ctp-mocha-surface0);
  --ctp-base: var(--ctp-mocha-base);
  --ctp-mantle: var(--ctp-mocha-mantle);
  --ctp-crust: var(--ctp-mocha-crust);
}

.frappe-theme,
.macchiato-theme,
.mocha-theme,
.dark-theme {
  color-scheme: dark;
}

* {
  transition: background-color .3s;
}
